<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login | UniFi Voucher</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

        <meta name="description" content="UniFi Voucher">
        <meta name="author" content="Glenn de Haan">

        <meta property="og:title" content="Login | UniFi Voucher"/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content="UniFi Voucher"/>

        <link rel="manifest" href="/manifest.json">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <link rel="apple-touch-icon" href="/images/icon/logo_256x256.png">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="theme-color" content="#139CDA">

        <link rel="preload" href="<%= banner_image %>" as="image">
        <link rel="preload" href="/images/logo.png" as="image">
        <link rel="preload" href="/dist/style.css" as="style">
        <link href="/dist/style.css" rel="stylesheet">
    </head>
    <body class="bg-white dark:bg-neutral-900 dark:text-gray-100 h-screen">
        <div class="w-full flex flex-wrap">
            <div class="w-full md:w-1/2 flex flex-col">
                <div class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-24">
                    <a href="/" title="Homepage">
                        <img class="h-20 w-20" alt="UniFi Logo" src="/images/logo.png"/>
                    </a>
                </div>

                <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
                    <p class="text-center text-3xl"><%= app_header %></p>
                    <% if(error) { %>
                        <div class="bg-red-700 text-white p-3 mt-8 rounded shadow-lg flex items-center">
                            <svg class="w-6 h-6 mr-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>
                            <div><%= error_text %></div>
                        </div>
                    <% } %>
                    <form id="login-forum" class="flex flex-col pt-3 md:pt-8" action="/login" method="post" enctype="multipart/form-data">
                        <div class="flex flex-col pt-4">
                            <label for="password" class="text-lg">Password</label>
                            <input type="password" id="password" name="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline dark:bg-neutral-800 dark:border-neutral-700 dark:text-gray-100" required>
                        </div>

                        <input type="submit" value="Login" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8 cursor-pointer transition-colors dark:text-black dark:bg-gray-200 dark:hover:bg-white">
                    </form>
                </div>

                <div class="text-center text-gray-400 text-sm italic pt-12 pb-12">
                    <p>
                        Powered by: <a href="https://glenndehaan.com" class="underline font-semibold">Glenn de Haan</a>.<br/>
                        Want your own portal? Checkout the project on: <a href="https://github.com/glenndehaan/unifi-voucher-site" class="underline font-semibold">GitHub</a>
                    </p>
                    <p class="text-[10px] not-italic">
                        SID: <%= sid %>
                    </p>
                </div>
            </div>

            <div class="w-1/2 shadow-2xl">
                <img class="object-cover w-full h-screen hidden md:block" src="<%= banner_image %>">
            </div>
        </div>
    </body>
</html>
