<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ./partials/head.ejs %>
    </head>
    <body>
        <% include ./partials/preloader.ejs %>

        <main>
            <%- include(template) %>
        </main>

        <% include ./partials/footer.ejs %>
        <script>
            var expressConfig = {port: <%= config.application.port %>, hostname: '<%= hostname %>', baseUrl: '<%= baseUrl %>'};
        </script>
        <script src="/dist/<%= assets.js %>" type="application/javascript"></script>
    </body>
</html>
